<div class="jumbotron">
    <div class="container">
        <h3><%= @video.title %></h3>
    

        <div class="container">
        <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>">
            <%= value %>
            </div>
        <% end %>
        </div>

  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12" >
            <iframe class="w-100 vid"  src="https://www.youtube.com/embed/<%= @video.uid %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="col-lg-12 col-md-12 ">
            <p>Shared by: <%= @video.user.email %></p>
            <p>
                <i class="fa fa-thumbs-up" aria-hidden="true"></i> <%= @video.likes %>
                <span class="ml-3 mr-3"></span>
                <i class="fa fa-thumbs-down" aria-hidden="true"></i> <%= @video.dislikes %>
            </p>

            <p>
                <b class="d-block">Description</b>
                <%= @video.description[0..300] ... %>
            </p>
            <p>Published at <%= @video.published_at.strftime('%-d %B %Y %H:%M:%S') %></p>
            
        </div>

    </div>
</div>